<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588682336605-0noo40tbpjmpbg4s4f6lkpqnhkre4udi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588682336605-0noo40tbpjmpbg4s4f6lkpqnhkre4udi</string>
	<key>API_KEY</key>
	<string>AIzaSyDpbxbG2qFOVhUmi5Iys8m9pmPnl6yBcRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>588682336605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onatcipli.networkUpp</string>
	<key>PROJECT_ID</key>
	<string>coriz-d770d</string>
	<key>STORAGE_BUCKET</key>
	<string>coriz-d770d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588682336605:ios:a1ef066a3a8afba98c30b4</string>
</dict>
</plist>